
@model DetailsViewModel
@{
    ViewBag.Title = "Products  list from DB";

}
<link rel="stylesheet"
      href="~/lib/chartist/chartist.min.css">

<script>
    var data = {
        // A labels array that can contain any sort of values
        labels: [],
        // Our series array that contains series objects or in this case series data arrays
        series: [
            []
        ]
    };
   
</script>

<div class="card-deck">
    @foreach (var emp in Model.Product)
    {
        <div class="card m-3" style="min-width:18rem;max-width:30.5%;">
            <div class="card-header">
                <h3> @emp.Name</h3>
            </div>
            <div class="card-body">

                @foreach (var price in Model.DatedPrices.Where(p => p.ProductId == emp.Id))
                {
                   
                     
                <script>
                   
                        data.labels.push(@price.DateOfOperation.Month+'.'+@price.DateOfOperation.Day);
                    data.series[0].push(@price.Price);
                </script>
                }
                <div class="ct-chart ct-golden-section" id='chart_@emp.Id'></div>
                <script>
                    new Chartist.Line('#chart_@emp.Id', data);
                    var data = {
                        // A labels array that can contain any sort of values
                        labels: [],
                        // Our series array that contains series objects or in this case series data arrays
                        series: [
                            []
                        ]
                    };
                </script>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="home" asp-action="details" asp-route-id="@emp.Id" class="btn btn-primary m-1">View</a>
                <a asp-controller="home" asp-action="edit" asp-route-id="@emp.Id" class="btn btn-primary  m-1">Edit</a>
                <a asp-controller="home" asp-action="delete" asp-route-id="@emp.Id" class="btn btn-danger  m-1">Delete</a>
            </div>
        </div>
    }
</div>
<script src="~/lib/chartist/chartist.min.js"></script>